body{
    margin: 50px auto;
}
nav{
    background-color:#0c4ca3 ;
}
ul{
    display:flex;
    list-style: none;
    gap: 20px;
}

.border {
    border-right: 1px solid grey;
}
.danhmuc-lienket {
    color:white;
    text-decoration: none;
}
.banner-qc{
    display: flex;
    justify-content: center;
}
.qc{
    display: flex;
justify-content: space-between;
}
h1{
    color:blue;
    margin: 0px 50px;
}
.anhtapthe{
    padding: -50px;
}
